<div class="row">
  <div class="col-sm-12" ng-if="$ctrl.state.displayAccessControlPanel">
    <rd-widget>
      <rd-widget-header icon="fa-eye" title-text="访问控制"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <!-- ownership -->
            <tr>
              <td>所有者</td>
              <td>
                <i ng-class="$ctrl.resourceControl.Ownership | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                <span ng-if="!$ctrl.resourceControl">
                  管理员
                  <portainer-tooltip message="This resource can only be managed by administrators." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                </span>
                <span ng-if="$ctrl.resourceControl">
                  {{ $ctrl.resourceControl.Ownership }}
                  <portainer-tooltip
                    ng-if="$ctrl.resourceControl.Ownership === $ctrl.RCO.PUBLIC"
                    message="此资源可以被任何访问此节点的任何用户管理。"
                    position="bottom"
                    style="margin-left: -3px;"
                  ></portainer-tooltip>
                  <portainer-tooltip
                    ng-if="$ctrl.resourceControl.Ownership === $ctrl.RCO.PRIVATE"
                    message="对单个用户来说，管理此资源的权限是受限的。"
                    position="bottom"
                    style="margin-left: -3px;"
                  ></portainer-tooltip>
                  <portainer-tooltip
                    ng-if="$ctrl.resourceControl.Ownership === $ctrl.RCO.RESTRICTED"
                    message="此资源只被部分用户或团队管理。"
                    position="bottom"
                    style="margin-left: -3px;"
                  ></portainer-tooltip>
                </span>
              </td>
            </tr>
            <!-- !ownership -->
            <tr ng-if="$ctrl.resourceControl.Type === $ctrl.RCTI.SERVICE && $ctrl.resourceType === $ctrl.RCTS.CONTAINER">
              <td colspan="2">
                <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 2px;"></i>
                此资源的访问继承自下面的服务：
                <a ui-sref="docker.services.service({ id: $ctrl.resourceControl.ResourceId })">{{ $ctrl.resourceControl.ResourceId | truncate }}</a>
                <portainer-tooltip message="对一个服务的访问控制也是对此服务下的容器的访问控制。" position="bottom" style="margin-left: 2px;"></portainer-tooltip>
              </td>
            </tr>
            <tr ng-if="$ctrl.resourceControl.Type === $ctrl.RCTI.CONTAINER && $ctrl.resourceType === $ctrl.RCTS.VOLUME">
              <td colspan="2">
                <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 2px;"></i>
                此资源的访问继承自下面的容器：
                <a ui-sref="docker.containers.container({ id: $ctrl.resourceControl.ResourceId })">{{ $ctrl.resourceControl.ResourceId | truncate }}</a>
                <portainer-tooltip message="用模板来实现容器的访问控制也同样适用对此容器卷的访问控制。" position="bottom" style="margin-left: 2px;"></portainer-tooltip>
              </td>
            </tr>
            <tr ng-if="$ctrl.resourceControl.Type === $ctrl.RCTI.STACK && $ctrl.resourceType !== $ctrl.RCTS.STACK">
              <td colspan="2">
                <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 2px;"></i>
                此资源的访问继承自下面的容器栈： {{ $ctrl.resourceControl.ResourceId }}
                <portainer-tooltip message="对容器栈的访问控制也适用这个栈内所有资源的访问控制。" position="bottom" style="margin-left: 2px;"></portainer-tooltip>
              </td>
            </tr>
            <!-- authorized-users -->
            <tr ng-if="$ctrl.resourceControl.UserAccesses.length > 0">
              <td>授权用户</td>
              <td>
                <span ng-repeat="user in $ctrl.authorizedUsers">{{ user.Username }}{{ $last ? '' : ', ' }} </span>
              </td>
            </tr>
            <!-- !authorized-users -->
            <!-- authorized-teams -->
            <tr ng-if="$ctrl.resourceControl.TeamAccesses.length > 0">
              <td>授权团队</td>
              <td>
                <span ng-repeat="team in $ctrl.authorizedTeams">{{ team.Name }}{{ $last ? '' : ', ' }} </span>
              </td>
            </tr>
            <!-- !authorized-teams -->
            <!-- edit-ownership -->
            <tr ng-if="$ctrl.canEditOwnership();">
              <td colspan="2">
                <a ng-click="$ctrl.state.editOwnership = true"><i class="fa fa-edit space-right" aria-hidden="true"></i>更改所有者</a>
              </td>
            </tr>
            <!-- !edit-ownership -->
            <!-- edit-ownership-choices -->
            <tr ng-if="$ctrl.state.editOwnership">
              <td colspan="2" style="white-space: inherit;">
                <div class="boxselector_wrapper">
                  <div ng-if="$ctrl.isAdmin">
                    <input type="radio" id="access_administrators" ng-model="$ctrl.formValues.Ownership" ng-value="$ctrl.RCO.ADMINISTRATORS" />
                    <label for="access_administrators">
                      <div class="boxselector_header">
                        <i ng-class="'administrators' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        管理员
                      </div>
                      <p>此资源只由管理员管理</p>
                    </label>
                  </div>
                  <div ng-if="$ctrl.isAdmin">
                    <input type="radio" id="access_restricted" ng-model="$ctrl.formValues.Ownership" ng-value="$ctrl.RCO.RESTRICTED" />
                    <label for="access_restricted">
                      <div class="boxselector_header">
                        <i ng-class="'restricted' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        受限
                      </div>
                      <p>
                        此资源只由部分用户和团队管理
                      </p>
                    </label>
                  </div>
                  <div ng-if="!$ctrl.isAdmin && $ctrl.state.canChangeOwnershipToTeam && $ctrl.availableTeams.length > 0">
                    <input type="radio" id="access_restricted" ng-model="$ctrl.formValues.Ownership" ng-value="$ctrl.RCO.RESTRICTED" />
                    <label for="access_restricted">
                      <div class="boxselector_header">
                        <i ng-class="'restricted' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        受限
                      </div>
                      <p ng-if="$ctrl.availableTeams.length === 1">
                        团队的任何成员(<b>{{ $ctrl.availableTeams[0].Name }}</b
                        >) 都可以管理资源。
                      </p>
                      <p ng-if="$ctrl.availableTeams.length > 1">
                        此资源限制到一个或多个团队管理
                      </p>
                    </label>
                  </div>
                  <div>
                    <input type="radio" id="access_public" ng-model="$ctrl.formValues.Ownership" ng-value="$ctrl.RCO.PUBLIC" />
                    <label for="access_public">
                      <div class="boxselector_header">
                        <i ng-class="'public' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        公共
                      </div>
                      <p>访问此节点的任何用户都可以管理资源</p>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <!-- edit-ownership-choices -->
            <!-- select-teams -->
            <tr ng-if="$ctrl.state.editOwnership && $ctrl.formValues.Ownership === $ctrl.RCO.RESTRICTED && ($ctrl.isAdmin || (!$ctrl.isAdmin && $ctrl.availableTeams.length > 1))">
              <td colspan="2">
                <span>团队</span>
                <span ng-if="$ctrl.isAdmin && $ctrl.availableTeams.length === 0" class="small text-muted" style="margin-left: 10px;">
                  未创建团队，去 <a ui-sref="portainer.teams">团队视图</a> 管理团队.
                </span>
                <span
                  isteven-multi-select
                  ng-if="($ctrl.isAdmin && $ctrl.availableTeams.length > 0) || (!$ctrl.isAdmin && $ctrl.availableTeams.length > 1)"
                  input-model="$ctrl.availableTeams"
                  output-model="$ctrl.formValues.Ownership_Teams"
                  button-label="Name"
                  item-label="Name"
                  tick-property="selected"
                  helper-elements="filter"
                  search-property="Name"
                  max-labels="3"
                  translation="{nothingSelected: '选择一个或多个团队', search: '搜索...'}"
                >
                </span>
              </td>
            </tr>
            <!-- !select-teams -->
            <!-- select-users -->
            <tr ng-if="$ctrl.isAdmin && $ctrl.state.editOwnership && $ctrl.formValues.Ownership === $ctrl.RCO.RESTRICTED">
              <td colspan="2">
                <span>用户</span>
                <span ng-if="$ctrl.availableUsers.length === 0" class="small text-muted" style="margin-left: 10px;">
                  未创建用户，去 <a ui-sref="portainer.users">用户视图</a> 管理用户。
                </span>
                <span
                  isteven-multi-select
                  ng-if="$ctrl.availableUsers.length > 0"
                  input-model="$ctrl.availableUsers"
                  output-model="$ctrl.formValues.Ownership_Users"
                  button-label="Username"
                  item-label="Username"
                  tick-property="selected"
                  helper-elements="filter"
                  search-property="Username"
                  max-labels="3"
                  translation="{nothingSelected: '选择一个或多个用户', search: '选择...'}"
                >
                </span>
              </td>
            </tr>
            <!-- !select-users -->
            <!-- ownership-actions -->
            <tr ng-if="$ctrl.state.editOwnership">
              <td colspan="2">
                <div>
                  <a type="button" class="btn btn-default btn-sm" ng-click="$ctrl.state.editOwnership = false">取消</a>
                  <a type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.confirmUpdateOwnership()">更新所有者</a>
                  <span class="text-danger" ng-if="$ctrl.state.formValidationError" style="margin-left: 5px;">{{ $ctrl.state.formValidationError }}</span>
                </div>
              </td>
            </tr>
            <!-- !ownership-actions -->
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
