<div class="form-group" ng-if="$ctrl.pullRateLimits">
  <div class="col-sm-12 small">
    <div ng-if="$ctrl.pullRateLimits.remaining > 0" class="text-muted">
      <i class="fa fa-exclamation-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      <span ng-if="$ctrl.isAuthenticated">
        现在使用的是DockerHub的free册账户，其限制为200次拉取/小时， 还剩拉取数:
        <span style="font-weight: bold;">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
      </span>
      <span ng-if="!$ctrl.isAuthenticated">
        <span ng-if="$ctrl.isAdmin">
          现在使用的是DockerHub的匿名册账户，其限制为100次拉取/小时，可以去 DockerHub 注册一个账户
          <a ui-sref="portainer.registries">注册视图</a>。 还剩拉取数:
          <span style="font-weight: bold;">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
        </span>
        <span ng-if="!$ctrl.isAdmin">
          现在使用的是DockerHub的匿名册账户，其限制为100次拉取/小时，可以去 DockerHub 注册一个账户， 还剩拉取数::
          <span style="font-weight: bold;">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
        </span>
      </span>
    </div>
    <div ng-if="$ctrl.pullRateLimits.remaining <= 0" class="text-warning">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <span ng-if="$ctrl.isAuthenticated"> 拉取数量超过free账户的最高次数 <span ng-transclude="rateLimitExceeded">将不能从dockershub仓库拉取镜像。</span> </span>
      <span ng-if="!$ctrl.isAuthenticated"> 拉取数量超过匿名账户的最高次数，<span ng-transclude="rateLimitExceeded">将不能从dockershub仓库拉取镜像。</span> </span>
    </div>
  </div>
</div>
