<rd-header>
  <rd-header-title title-text="创建节点"></rd-header-title>
  <rd-header-content> <a ui-sref="portainer.endpoints">节点</a> &gt; 添加节点 </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="endpointCreationForm">
          <div class="col-sm-12 form-section-title">
            环境类型
          </div>
          <div class="form-group"></div>
          <div class="form-group" style="margin-bottom: 0;">
            <div class="boxselector_wrapper">
              <div ng-click="resetEndpointURL()">
                <input type="radio" id="agent_endpoint" ng-model="state.EnvironmentType" value="agent" />
                <label for="agent_endpoint">
                  <div class="boxselector_header">
                    <i class="fa fa-bolt" aria-hidden="true" style="margin-right: 2px;"></i>
                    代理（Agent）
                  </div>
                  <p>Portainer代理（agent）</p>
                </label>
              </div>
              <div ng-click="setDefaultPortainerInstanceURL()">
                <input type="radio" id="edge_agent_endpoint" ng-model="state.EnvironmentType" value="edge_agent" />
                <label for="edge_agent_endpoint">
                  <div class="boxselector_header">
                    <i class="fa fa-cloud" aria-hidden="true" style="margin-right: 2px;"></i>
                    边缘代理（Agent）
                  </div>
                  <p>Portainer边缘代理（agent）</p>
                </label>
              </div>
              <div ng-click="resetEndpointURL()">
                <input type="radio" id="docker_endpoint" ng-model="state.EnvironmentType" value="docker" />
                <label for="docker_endpoint">
                  <div class="boxselector_header">
                    <i class="fab fa-docker" aria-hidden="true" style="margin-right: 2px;"></i>
                    Docker
                  </div>
                  <p>直通 Docker API</p>
                </label>
              </div>
              <div ng-click="resetEndpointURL()">
                <input type="radio" id="kubernetes_endpoint" ng-model="state.EnvironmentType" value="kubernetes" />
                <label for="kubernetes_endpoint">
                  <div class="boxselector_header">
                    <i class="fas fa-dharmachakra" aria-hidden="true" style="margin-right: 2px;"></i>
                    Kubernetes
                  </div>
                  <p>本地 Kubernetes环境</p>
                </label>
              </div>
              <div>
                <input type="radio" id="azure_endpoint" ng-model="state.EnvironmentType" value="azure" />
                <label for="azure_endpoint">
                  <div class="boxselector_header">
                    <i class="fab fa-microsoft" aria-hidden="true" style="margin-right: 2px;"></i>
                    Azure
                  </div>
                  <p>链接到Microsoft Azure ACI</p>
                </label>
              </div>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'docker'">
            <div class="col-sm-12 form-section-title">
              重要提示
            </div>
            <div class="form-group">
              <p class="col-sm-12 text-muted small">
                Portainer通过socket或TCP与Docker环境链接，如何通过TCP将Docker API显露出来，可参考
                <a href="https://docs.docker.com/engine/security/https/"> Docker文档</a>.
              </p>

              <p class="col-sm-12 text-muted small">
                至于使用socket链接，Portainer容器的启动必须用Docker的如下flag
                <code> -v "/var/run/docker.sock:/var/run/docker.sock" </code>
                (Linux环境) 或
                <code> -v \.\pipe\docker_engine:\.\pipe\docker_engine </code>
                (Windows环境).
              </p>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'agent'">
            <div class="col-sm-12 form-section-title">
              信息
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                首先确保Portainer代理已经部署到集群里，根据操作系统的不同，部署Portainer代理的命令也如下不一样。
                <div class="input-group input-group-sm" style="margin-top: 10px; margin-bottom: 10px;">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-primary" ng-model="state.PlatformType" uib-btn-radio="'linux'"><i class="fab fa-linux" style="margin-right: 2px;"></i> Linux</label>
                    <label class="btn btn-primary" ng-model="state.PlatformType" uib-btn-radio="'windows'"><i class="fab fa-windows" style="margin-right: 2px;"></i> Windows</label>
                  </div>
                </div>
                <div style="margin-top: 10px;">
                  <uib-tabset active="state.deploymentTab">
                    <uib-tab index="0" ng-if="state.PlatformType === 'linux'" heading="通过负载均衡的Kubernetes">
                      <code style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.kubeLoadBalancer }}</code>
                    </uib-tab>

                    <uib-tab index="1" ng-if="state.PlatformType === 'linux'" heading="通过节点端口的Kubernetes">
                      <code style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.kubeNodePort }}</code>
                    </uib-tab>

                    <uib-tab index="2" heading="Docker Swarm">
                      <code ng-if="state.PlatformType === 'linux'" style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.agentLinux }}</code>
                      <code ng-if="state.PlatformType === 'windows'" style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.agentWindows }}</code>
                    </uib-tab>
                  </uib-tabset>
                  <div style="margin-top: 10px;">
                    <span class="btn btn-primary btn-sm space-left" ng-click="copyAgentCommand()"><i class="fa fa-copy space-right" aria-hidden="true"></i>拷贝命令</span>
                    <span>
                      <i id="copyNotification" class="fa fa-check green-icon" aria-hidden="true" style="margin-left: 7px; display: none;"></i>
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'edge_agent'">
            <div class="col-sm-12 form-section-title">
              信息
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                <p>
                  可以用边缘代理注册来创建节点，边缘代理会初始化portainer实例之间的通讯。当节点创建后，如何创建与边缘代理连接的必要信息将可见。
                </p>
                <p> 边缘代理的使用手册见链接<a href="https://downloads.portainer.io/edge_agent_guide.pdf">。</a> </p>
              </span>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'kubernetes'">
            <div class="col-sm-12 form-section-title">
              重要提示
            </div>
            <div class="form-group">
              <p class="col-sm-12 text-muted small">
                当Portainer运行时，即可管理Kubernetes环境。
              </p>

              <p class="col-sm-12 text-muted small">
                <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                管理远程Kubernetes环境，可以使用代理或边缘代理选项。
              </p>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'azure'">
            <div class="col-sm-12 form-section-title">
              信息
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small">
                  <p class="text-muted"> <i class="fa fa-flask orange-icon" aria-hidden="true" style="margin-right: 2px;"></i> 实验功能。</p>
                  <p class="text-primary">
                    连接到微软Azure来管理微软Azure容器实例（ACI）。
                  </p>
                  <p class="text-muted">
                    <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                    请看
                    <a href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal" target="_blank">Azure文档</a>
                    来找回下面需要的证书。
                  </p>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-section-title">
            环境详情
          </div>
          <!-- name-input -->
          <div class="form-group">
            <label for="container_name" class="col-sm-3 col-lg-2 control-label text-left">名称</label>
            <div class="col-sm-9 col-lg-10">
              <input
                type="text"
                class="form-control"
                name="container_name"
                ng-model="formValues.Name"
                placeholder="e.g. docker-prod01 / kubernetes-cluster01"
                required
                auto-focus
              />
            </div>
          </div>
          <div class="form-group" ng-show="endpointCreationForm.container_name.$invalid">
            <div class="col-sm-12 small text-warning">
              <div ng-messages="endpointCreationForm.container_name.$error">
                <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段为必要字段。</p>
              </div>
            </div>
          </div>
          <!-- !name-input -->
          <!-- connect-via-socket-input -->
          <div ng-if="state.EnvironmentType === 'docker'">
            <div class="form-group" style="padding-left: 15px;">
              <label for="connect_socket" class="col-sm_12 control-label text-left">
                通过socket连接
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="formValues.ConnectSocket" /><i></i> </label>
            </div>
          </div>

          <div ng-if="state.EnvironmentType === 'docker' && formValues.ConnectSocket">
            <div class="form-group" style="padding-left: 15px;">
              <label for="override_socket" class="col-sm_12 control-label text-left">
                重载缺省的socket路径
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="formValues.OverrideSocket" /><i></i> </label>
            </div>

            <div ng-if="formValues.OverrideSocket">
              <div class="form-group">
                <label for="socket_path" class="col-sm-3 col-lg-2 control-label text-left">
                  Socket路径
                  <portainer-tooltip position="bottom" message=" Docker socket路径。记得要绑定挂载（bind-mount）socket, 请参考上面更多重要信息。"> </portainer-tooltip>
                </label>
                <div class="col-sm-9 col-lg-10">
                  <input
                    type="text"
                    class="form-control"
                    name="socket_path"
                    ng-model="formValues.SocketPath"
                    placeholder="例如： /var/run/docker.sock (Linux下) 或 //./pipe/docker_engine (Windows下)"
                    required
                  />
                </div>
              </div>
              <div class="form-group" ng-show="endpointCreationForm.socket_path.$invalid">
                <div class="col-sm-12 small text-warning">
                  <div ng-messages="endpointCreationForm.socket_path.$error">
                    <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </p
                    ><p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段为必要字段。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- !connect-via-socket-input -->
          <!-- endpoint-url-input -->
          <div ng-if="(state.EnvironmentType === 'docker' && !formValues.ConnectSocket) || state.EnvironmentType === 'agent'">
            <div class="form-group">
              <label for="endpoint_url" class="col-sm-3 col-lg-2 control-label text-left">
                节点 URL
                <portainer-tooltip position="bottom" message="Docker主机URL和IP地址。必须通过TCP端口显露Docker API。请参考Docker文档来配置。"> </portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input
                  ng-if="state.EnvironmentType === 'docker'"
                  type="text"
                  class="form-control"
                  name="endpoint_url"
                  ng-model="formValues.URL"
                  placeholder="例如. 10.0.0.10:2375 或 mydocker.mydomain.com:2375"
                  required
                />
                <input
                  ng-if="state.EnvironmentType === 'agent'"
                  type="text"
                  class="form-control"
                  name="endpoint_url"
                  ng-model="formValues.URL"
                  placeholder="例如： 10.0.0.10:9001 或 tasks.portainer_agent:9001"
                  required
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.endpoint_url.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.endpoint_url.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段为必要字段。</p>
                </div>
              </div>
            </div>
          </div>
          <!-- !endpoint-url-input -->
          <!-- portainer-instance-input -->
          <div ng-if="state.EnvironmentType === 'edge_agent'">
            <div class="form-group">
              <label for="endpoint_url" class="col-sm-3 col-lg-2 control-label text-left">
                Portainer 服务器 URL
                <portainer-tooltip position="bottom" message="Portainer实例的URL会被代理用来初始化通讯。"></portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" name="endpoint_url" ng-model="formValues.URL" placeholder="例如： 10.0.0.10:9000 或 portainer.mydomain.com" required />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.endpoint_url.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.endpoint_url.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段为必要字段。</p>
                </div>
              </div>
            </div>
            <!-- !portainer-instance-input -->
            <div class="form-group">
              <label for="edge_checkin" class="col-sm-2 control-label text-left">
                投票（Poll）频率
                <portainer-tooltip position="bottom" message="边缘代理签入Portainer实例的周期。影响边缘节点管理和边缘计算功能。"> </portainer-tooltip>
              </label>
              <div class="col-sm-10">
                <select
                  id="edge_checkin"
                  class="form-control"
                  ng-model="formValues.CheckinInterval"
                  ng-options="+(opt.value) as opt.key for opt in state.availableEdgeAgentCheckinOptions"
                ></select>
              </div>
            </div>
          </div>
          <!-- endpoint-public-url-input -->
          <div ng-if="state.EnvironmentType === 'docker' || state.EnvironmentType === 'agent'">
            <div class="form-group">
              <label for="endpoint_public_url" class="col-sm-3 col-lg-2 control-label text-left">
                公共 IP
                <portainer-tooltip position="bottom" message="此处显露的URL或IP地址必须是可达的，此字段是可选的，缺省情况下指向节点URL。"> </portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" id="endpoint_public_url" ng-model="formValues.PublicURL" placeholder="例如： 10.0.0.10 或 mydocker.mydomain.com" />
              </div>
            </div>
          </div>
          <!-- !endpoint-public-url-input -->
          <!-- azure-details -->
          <div ng-if="state.EnvironmentType === 'azure'">
            <!-- applicationId-input -->
            <div class="form-group">
              <label for="azure_credential_appid" class="col-sm-3 col-lg-2 control-label text-left">应用 ID</label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  name="azure_credential_appid"
                  ng-model="formValues.AzureApplicationId"
                  placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                  required
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.azure_credential_appid.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.azure_credential_appid.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 本字段是必要字段。</p>
                </div>
              </div>
            </div>
            <!-- !applicationId-input -->
            <!-- tenantId-input -->
            <div class="form-group">
              <label for="azure_credential_tenantid" class="col-sm-3 col-lg-2 control-label text-left">租户 ID</label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  name="azure_credential_tenantid"
                  ng-model="formValues.AzureTenantId"
                  placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                  required
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.azure_credential_tenantid.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.azure_credential_tenantid.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 本字段是必要字段。</p>
                </div>
              </div>
            </div>
            <!-- !tenantId-input -->
            <!-- authenticationkey-input -->
            <div class="form-group">
              <label for="azure_credential_authkey" class="col-sm-3 col-lg-2 control-label text-left">验证密钥（Authentication key）</label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  name="azure_credential_authkey"
                  ng-model="formValues.AzureAuthenticationKey"
                  placeholder="cOrXoK/1D35w8YQ8nH1/8ZGwzz45JIYD5jxHKXEQknk="
                  required
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.azure_credential_authkey.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.azure_credential_authkey.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 本字段是必要字段。</p>
                </div>
              </div>
            </div>
            <!-- !authenticationkey-input -->
          </div>
          <!-- !azure-details -->
          <!-- endpoint-security -->
          <por-endpoint-security ng-if="state.EnvironmentType === 'docker' && !formValues.ConnectSocket" form-data="formValues.SecurityFormData"></por-endpoint-security>
          <!-- !endpoint-security -->
          <div class="col-sm-12 form-section-title">
            元数据（Metadata）
          </div>
          <!-- group -->
          <div class="form-group">
            <label for="endpoint_group" class="col-sm-3 col-lg-2 control-label text-left">
              组（Group）
            </label>
            <div class="col-sm-9 col-lg-10">
              <select ng-options="group.Id as group.Name for group in groups" ng-model="formValues.GroupId" id="endpoint_group" class="form-control"></select>
            </div>
          </div>
          <!-- !group -->
          <!-- tags -->
          <div class="form-group">
            <tag-selector ng-if="formValues && availableTags" tags="availableTags" model="formValues.TagIds" allow-create="state.allowCreateTag" on-create="(onCreateTag)">
            </tag-selector>
          </div>
          <!-- !tags -->
          <div class="col-sm-12 form-section-title">
            操作
          </div>
          <!-- actions -->
          <div class="form-group">
            <div class="col-sm-12">
              <button
                ng-if="state.EnvironmentType === 'docker'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid || (formValues.TLS && ((formValues.TLSVerify && !formValues.TLSCACert) || (formValues.TLSClientCert && (!formValues.TLSCert || !formValues.TLSKey))))"
                ng-click="addDockerEndpoint()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> Add endpoint</span>
                <span ng-show="state.actionInProgress">创建节点...</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'agent'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addAgentEndpoint()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加节点</span>
                <span ng-show="state.actionInProgress">创建节点...</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'edge_agent'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addEdgeAgentEndpoint()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加节点</span>
                <span ng-show="state.actionInProgress">创建节点...</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'kubernetes'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addKubernetesEndpoint()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加节点</span>
                <span ng-show="state.actionInProgress">创建节点...</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'azure'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addAzureEndpoint()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加节点</span>
                <span ng-show="state.actionInProgress">创建节点...</span>
              </button>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
