<rd-header>
  <rd-header-title title-text="认证设置"></rd-header-title>
  <rd-header-content> <a ui-sref="portainer.settings">设置</a> &gt; 认证 </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-users" title-text="认证"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="col-sm-12 form-section-title">
            配置
          </div>
          <div class="form-group">
            <label for="user_timeout" class="col-sm-2 control-label text-left">
              会话时间
              <portainer-tooltip message="如超时，用户将强制重登录"></portainer-tooltip>
            </label>
            <div class="col-sm-10">
              <select
                id="user_timeout"
                class="form-control"
                ng-model="settings.UserSessionTimeout"
                ng-options="opt.value as opt.key for opt in state.availableUserSessionTimeoutOptions"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small">
              如果在Portainer之前有另外的身份认证，唯一的建议是修改Portainer的缺省身份认证。
            </span>
          </div>
          <div class="col-sm-12 form-section-title">
            认证方法
          </div>
          <div class="form-group"></div>
          <div class="form-group" style="margin-bottom: 0;">
            <div class="boxselector_wrapper">
              <div>
                <input type="radio" id="registry_quay" ng-model="settings.AuthenticationMethod" ng-value="1" />
                <label for="registry_quay">
                  <div class="boxselector_header">
                    <i class="fa fa-users" aria-hidden="true" style="margin-right: 2px;"></i>
                    本地
                  </div>
                  <p>本地认证机制</p>
                </label>
              </div>
              <div>
                <input type="radio" id="registry_custom" ng-model="settings.AuthenticationMethod" ng-value="2" />
                <label for="registry_custom">
                  <div class="boxselector_header">
                    <i class="fa fa-users" aria-hidden="true" style="margin-right: 2px;"></i>
                    LDAP
                  </div>
                  <p>LDAP 认证</p>
                </label>
              </div>
              <div>
                <input type="radio" id="registry_auth" ng-model="settings.AuthenticationMethod" ng-value="3" />
                <label for="registry_auth">
                  <div class="boxselector_header">
                    <i class="fa fa-users" aria-hidden="true" style="margin-right: 2px;"></i>
                    OAuth
                  </div>
                  <p>OAuth 认证</p>
                </label>
              </div>
            </div>
          </div>

          <div ng-if="settings.AuthenticationMethod === 1">
            <div class="col-sm-12 form-section-title">
              信息
            </div>
            <div class="form-group col-sm-12 text-muted small">
              当采用本地认证时，Portainer将加密用户密码并在本地存放。
            </div>
          </div>

          <div ng-if="settings.AuthenticationMethod === 2">
            <div>
              <div class="col-sm-12 form-section-title">
                信息
              </div>
              <div class="form-group col-sm-12 text-muted small">
                当采用LDAP认证时，Portainer将代理用户到LDAP服务器认证，如果LDAP认证失败将返回到本地认证，
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              LDAP 配置
            </div>

            <div class="form-group">
              <label for="ldap_url" class="col-sm-3 col-lg-2 control-label text-left">
                LDAP 服务器
                <portainer-tooltip position="bottom" message="LDAP 服务器的URL和IP地址。"></portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" id="ldap_url" ng-model="formValues.LDAPSettings.URL" placeholder="例如： 10.0.0.10:389 or myldap.domain.tld:389" />
              </div>
            </div>

            <!-- Anonymous mode-->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="anonymous_mode" class="control-label text-left">
                  匿名模式
                  <portainer-tooltip position="bottom" message="如果服务器被配置成匿名访问，则使能此选项。"></portainer-tooltip>
                </label>
                <label class="switch" style="margin-left: 20px;"> <input type="checkbox" id="anonymous_mode" ng-model="formValues.LDAPSettings.AnonymousMode" /><i></i> </label>
              </div>
            </div>
            <!-- !Anonymous mode-->

            <div ng-if="!formValues.LDAPSettings.AnonymousMode">
              <div class="form-group">
                <label for="ldap_username" class="col-sm-3 col-lg-2 control-label text-left">
                  Reader DN
                  <portainer-tooltip position="bottom" message="用于搜索用户的账户。"></portainer-tooltip>
                </label>
                <div class="col-sm-9 col-lg-10">
                  <input
                    type="text"
                    class="form-control"
                    id="ldap_username"
                    ng-model="formValues.LDAPSettings.ReaderDN"
                    placeholder="cn=readonly-account,dc=ldap,dc=domain,dc=tld"
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="ldap_password" class="col-sm-3 col-lg-2 control-label text-left">
                  密码
                  <portainer-tooltip position="bottom" message="如果不输入密码，Portainer会从当前用户退出。"></portainer-tooltip>
                </label>
                <div class="col-sm-9 col-lg-10">
                  <input type="password" class="form-control" id="ldap_password" ng-model="formValues.LDAPSettings.Password" placeholder="password" />
                </div>
              </div>
            </div>

            <div class="form-group" ng-if="!formValues.LDAPSettings.TLSConfig.TLS && !formValues.LDAPSettings.StartTLS">
              <label for="ldap_password" class="col-sm-3 col-lg-2 control-label text-left">
                连接状态检查
                <i class="fa fa-check green-icon" style="margin-left: 5px;" ng-if="state.successfulConnectivityCheck"></i>
                <i class="fa fa-times red-icon" style="margin-left: 5px;" ng-if="state.failedConnectivityCheck"></i>
              </label>
              <div class="col-sm-9 col-lg-10">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  ng-disabled="(state.connectivityCheckInProgress) || (!formValues.LDAPSettings.URL) || ((!formValues.LDAPSettings.ReaderDN || !formValues.LDAPSettings.Password) && !formValues.LDAPSettings.AnonymousMode)"
                  ng-click="LDAPConnectivityCheck()"
                  button-spinner="state.connectivityCheckInProgress"
                >
                  <span ng-hide="state.connectivityCheckInProgress">测试连接状态</span>
                  <span ng-show="state.connectivityCheckInProgress">正在测试连接状态...</span>
                </button>
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              LDAP 安全
            </div>

            <!-- starttls -->
            <div class="form-group" ng-if="!formValues.LDAPSettings.TLSConfig.TLS">
              <div class="col-sm-12">
                <label for="tls" class="control-label text-left">
                  使用 StartTLS
                  <portainer-tooltip position="bottom" message="如果使用StartTLS安全机制连接服务器，使能此选项，如果选择了TLS，则此选项失效。"></portainer-tooltip>
                </label>
                <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="formValues.LDAPSettings.StartTLS" /><i></i> </label>
              </div>
            </div>
            <!-- !starttls -->

            <!-- tls-checkbox -->
            <div class="form-group" ng-if="!formValues.LDAPSettings.StartTLS">
              <div class="col-sm-12">
                <label for="tls" class="control-label text-left">
                  使用 TLS
                  <portainer-tooltip position="bottom" message="如果使用TLS证书连接到LDAP服务器，选择此选项。"></portainer-tooltip>
                </label>
                <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="formValues.LDAPSettings.TLSConfig.TLS" /><i></i> </label>
              </div>
            </div>
            <!-- !tls-checkbox -->

            <!-- tls-skip-verify -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="tls" class="control-label text-left">
                  忽略数字证书认证
                  <portainer-tooltip position="bottom" message="忽略对服务器数字正式认证，在非安全网络中不建议使用。"></portainer-tooltip>
                </label>
                <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="formValues.LDAPSettings.TLSConfig.TLSSkipVerify" /><i></i> </label>
              </div>
            </div>
            <!-- !tls-skip-verify -->

            <!-- tls-certs -->
            <div ng-if="formValues.LDAPSettings.TLSConfig.TLS || formValues.LDAPSettings.StartTLS">
              <!-- ca-input -->
              <div class="form-group" ng-if="!formValues.LDAPSettings.TLSConfig.TLSSkipVerify">
                <label class="col-sm-2 control-label text-left">TLS CA 数字证书</label>
                <div class="col-sm-10">
                  <button type="button" class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSCACert">选择文件</button>
                  <span style="margin-left: 5px;">
                    {{ formValues.TLSCACert.name }}
                    <i class="fa fa-check green-icon" ng-if="formValues.TLSCACert && formValues.TLSCACert === formValues.LDAPSettings.TLSConfig.TLSCACert" aria-hidden="true"></i>
                    <i class="fa fa-times red-icon" ng-if="!formValues.TLSCACert" aria-hidden="true"></i>
                    <i class="fa fa-circle-notch fa-spin" ng-if="state.uploadInProgress"></i>
                  </span>
                </div>
              </div>
              <!-- !ca-input -->
            </div>
            <!-- !tls-certs -->

            <div class="form-group" ng-if="formValues.LDAPSettings.TLSConfig.TLS || formValues.LDAPSettings.StartTLS">
              <label for="ldap_password" class="col-sm-3 col-lg-2 control-label text-left">
                连通性检测
                <i class="fa fa-check green-icon" style="margin-left: 5px;" ng-if="state.successfulConnectivityCheck"></i>
                <i class="fa fa-times red-icon" style="margin-left: 5px;" ng-if="state.failedConnectivityCheck"></i>
              </label>
              <div class="col-sm-9 col-lg-10">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  ng-click="LDAPConnectivityCheck()"
                  ng-disabled="(!formValues.LDAPSettings.URL) || (!formValues.TLSCACert && !formValues.LDAPSettings.TLSConfig.TLSSkipVerify) || ((!formValues.LDAPSettings.ReaderDN || !formValues.LDAPSettings.Password) && !formValues.LDAPSettings.AnonymousMode)"
                  >检测连通性</button
                >
                <i id="connectivityCheckSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              自动生成用户
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                自动生成用户可以自动创建标准角色用户，并分配团体名称来适配LDAP组名称，否则，必须先在Portainer里创建用户。
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label for="tls" class="control-label text-left">
                  自动生成用户
                </label>
                <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="formValues.LDAPSettings.AutoCreateUsers" /><i></i> </label>
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              用户搜索配置
            </div>

            <!-- search-settings -->
            <div ng-repeat="config in formValues.LDAPSettings.SearchSettings | limitTo: (1 - formValues.LDAPSettings.SearchSettings)" style="margin-top: 5px;">
              <div class="form-group" ng-if="$index > 0">
                <span class="col-sm-12 text-muted small">
                  扩展搜索配置
                </span>
              </div>

              <div class="form-group">
                <label for="ldap_basedn_{{ $index }}" class="col-sm-4 col-md-2 control-label text-left">
                  Base DN
                  <portainer-tooltip position="bottom" message="DN（完全限定名）是LDAP服务器用于用户搜索。"></portainer-tooltip>
                </label>
                <div class="col-sm-8 col-md-4">
                  <input type="text" class="form-control" id="ldap_basedn_{{ $index }}" ng-model="config.BaseDN" placeholder="dc=ldap,dc=domain,dc=tld" />
                </div>

                <label for="ldap_username_att_{{ $index }}" class="col-sm-4 col-md-3 col-lg-2 margin-sm-top control-label text-left">
                  用户名属性
                  <portainer-tooltip position="bottom" message="用于表达用户名的LDAP属性。"></portainer-tooltip>
                </label>
                <div class="col-sm-8 col-md-3 col-lg-4 margin-sm-top">
                  <input type="text" class="form-control" id="ldap_username_att_{{ $index }}" ng-model="config.UserNameAttribute" placeholder="uid" />
                </div>
              </div>
              <div class="form-group">
                <label for="ldap_filter_{{ $index }}" class="col-sm-4 col-md-2 control-label text-left">
                  过滤
                  <portainer-tooltip position="bottom" message="用于选择用户元素、选项的LDAP搜索过滤器。"></portainer-tooltip>
                </label>
                <div class="col-sm-7 col-md-9">
                  <input type="text" class="form-control" id="ldap_filter_{{ $index }}" ng-model="config.Filter" placeholder="(objectClass=account)" />
                </div>
                <div class="col-sm-1" ng-if="$index > 0">
                  <button class="btn btn-sm btn-danger" type="button" ng-click="removeSearchConfiguration($index)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>

              <div class="form-group">
                <span class="label label-default interactive" style="margin-left: 10px;" ng-click="addSearchConfiguration()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加用户搜索配置
                </span>
              </div>
            </div>
            <!-- !search-settings -->

            <div class="col-sm-12 form-section-title">
              组搜索配置
            </div>

            <!-- group-search-settings -->
            <div ng-repeat="groupConfig in formValues.LDAPSettings.GroupSearchSettings | limitTo: (1 - formValues.LDAPSettings.GroupSearchSettings)" style="margin-top: 5px;">
              <div class="form-group" ng-if="$index > 0">
                <span class="col-sm-12 text-muted small">
                  扩展搜索配置
                </span>
              </div>

              <div class="form-group">
                <label for="ldap_group_basedn_{{ $index }}" class="col-sm-4 col-md-2 control-label text-left">
                  Group Base DN
                  <portainer-tooltip position="bottom" message=" Group Base DN（完全限定名）是LDAP服务器用于用户组搜索。"></portainer-tooltip>
                </label>
                <div class="col-sm-8 col-md-4">
                  <input type="text" class="form-control" id="ldap_group_basedn_{{ $index }}" ng-model="groupConfig.GroupBaseDN" placeholder="dc=ldap,dc=domain,dc=tld" />
                </div>

                <label for="ldap_group_att_{{ $index }}" class="col-sm-4 col-md-3 col-lg-2 margin-sm-top control-label text-left">
                  组员属性
                  <portainer-tooltip position="bottom" message="用于表达组员的LDAP属性。"></portainer-tooltip>
                </label>
                <div class="col-sm-8 col-md-3 col-lg-4 margin-sm-top">
                  <input type="text" class="form-control" id="ldap_group_att_{{ $index }}" ng-model="groupConfig.GroupAttribute" placeholder="member" />
                </div>
              </div>
              <div class="form-group">
                <label for="ldap_group_filter_{{ $index }}" class="col-sm-4 col-md-2 control-label text-left">
                  组过滤器
                  <portainer-tooltip position="bottom" message="用于选择组元素、选项的LDAP搜索过滤器。"></portainer-tooltip>
                </label>
                <div class="col-sm-7 col-md-9">
                  <input type="text" class="form-control" id="ldap_group_filter_{{ $index }}" ng-model="groupConfig.GroupFilter" placeholder="(objectClass=account)" />
                </div>
                <div class="col-sm-1" ng-if="$index > 0">
                  <button class="btn btn-sm btn-danger" type="button" ng-click="removeGroupSearchConfiguration($index)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>

              <div class="form-group">
                <span class="label label-default interactive" style="margin-left: 10px;" ng-click="addGroupSearchConfiguration()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加组搜索配置
                </span>
              </div>
            </div>
            <!-- !group-search-settings -->
          </div>

          <div ng-if="isOauthEnabled()">
            <div class="col-sm-12 form-section-title">
              Provider
            </div>
            <div class="form-group"></div>
            <div class="form-group" style="margin-bottom: 0;">
              <div class="boxselector_wrapper">
                <div data-toggle="tooltip" title="This feature is available in Portainer Business Edition" style="color: #767676;">
                  <input type="radio" id="microsoft" disabled />
                  <label for="microsoft" style="cursor: pointer; border-color: #767676;">
                    <div class="boxselector_header">
                      <i class="fab fa-microsoft" aria-hidden="true" style="margin-right: 2px;"></i>
                      Microsoft
                    </div>
                    <p>Microsoft OAuth provider</p>
                  </label>
                </div>
                <div data-toggle="tooltip" title="This feature is available in Portainer Business Edition" style="color: #767676;">
                  <input type="radio" id="google" disabled />
                  <label for="google" style="cursor: pointer; border-color: #767676;">
                    <div class="boxselector_header">
                      <i class="fab fa-google" aria-hidden="true" style="margin-right: 2px;"></i>
                      Google
                    </div>
                    <p>Google OAuth provider</p>
                  </label>
                </div>
                <div data-toggle="tooltip" title="This feature is available in Portainer Business Edition" style="color: #767676;">
                  <input type="radio" id="registry_auth" disabled />
                  <label for="Github" style="cursor: pointer; border-color: #767676;">
                    <div class="boxselector_header">
                      <i class="fab fa-github" aria-hidden="true" style="margin-right: 2px;"></i>
                      Github
                    </div>
                    <p>Github OAuth provider</p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="custom" ng-model="settings.AuthenticationMethod" ng-value="3" />
                  <label for="custom">
                    <div class="boxselector_header">
                      <i class="fa fa-user-check" aria-hidden="true" style="margin-right: 2px;"></i>
                      Custom
                    </div>
                    <p>Custom OAuth provider</p>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <oauth-settings ng-if="isOauthEnabled()" settings="OAuthSettings" teams="teams"></oauth-settings>

          <!-- actions -->
          <div class="col-sm-12 form-section-title">
            操作
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-click="saveSettings()" ng-disabled="state.actionInProgress" button-spinner="state.actionInProgress">
                <span ng-hide="state.actionInProgress">保存设置</span>
                <span ng-show="state.actionInProgress">正在保存...</span>
              </button>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
